/* General info */
:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 20px;
}


/* Text variables and font stylings */
h1 {
  font-size: var(--font-size-xxl);
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-xl);
  text-align: center;
}

h3 {
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-md);
}

p {
  font-size: var(--font-size-md);
  line-height: 1.5em;
}

h1 + span {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  font-size: var(--font-size-base);
}

/* Button */
#button {
  background-color: #000;
  padding: 1px 20px;
  color: #fff;
  border: 2px;
  border-radius: 10px;
}

/* Second paragraph */
.second-paragraph {
  margin-bottom: 10em;
  display: flex;
  gap: 5em;
}

/* Black bar */
#black-bar {
  background-color: #000;
  color: white;
  margin-bottom: 10em;
  margin-left: 10em;
  margin-right: 10em;
  padding: 10rem;
}





.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10em;
}

.articles div {
  font-size: var(--font-size-md);
  font-style: italic;
}


/* Navigation */
#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-bottom: 5em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-left: 1.25em;
}

nav ul li a {
  text-decoration: none;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  color: #000;
}

/* Grid-1 */


/* .grid {
  display: grid;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#item-1 {
  grid-area: item1;
}

#item-2 {
  grid-area: item2;
}

#item-3 {
  grid-area: item3;
}

#item-4 {
  grid-area: item4;
} */



/* .intro {
  padding-left: 2em;
} */


/* Second Grid */

.ice-cream {
  display: flex;
  gap: 2em;
}






/* media queries */

@media (min-width:768px){
  
  .grid {
  grid-template-columns: 1fr 1fr;
}

.grid #item-to-span {
  grid-column: 1/2;
}

  .ice-cream {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  } 
}

@media (min-width:960px) {

/* .ice-cream {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
/* 
  .ultimate-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10em;
    margin-bottom: 10em;
  }
 */ */

